@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://img.freepik.com/vetores-premium/design-de-logotipo-de-cachorrinho-fofo-de-pet-shop_680355-30.jpg" width="320" height="320" />
</div>
