@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Filtrar</h1>

<h4>Servico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="conServ">
            Buscar por Animal: <input type="text" name="busca" value="" />
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </form>
    </div>
</div>

<div>
    <a asp-action="index">Back to List</a>
</div>